/* Header styling */

.header-container {
    background-color: #343a40;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.8);
}

.logo img {
    width: 80px;
    height: auto;
}

.logo {
    max-width: 5%; /* Set maximum width as a percentage */
    margin-right: 20px;
    height: auto;
}

.navbar {
    flex-grow: 1;
    width: 100%;
}

.links {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.navbar li {
    margin-right: 2.5em;
    height: fit-content;
}

.navbar a {
    color: #fff;
    text-decoration: none;
    transition: color 0.2s ease;
}

.navbar a:hover {
    color: #ccc;
}

.search-form {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-right: 5%;
}

.search-input {
    padding: 10px;
    border: none;
    border-radius: 5px 0 0 5px;
    width: 300px;
}

.search-button {
    background-color: #777;
    color: #fff;
    border: none;
    padding: 10px;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
}

.search-button:hover {
    background-color: #666;
}

.logout {
    list-style: none;
    cursor: pointer;
}

.logout a {
    text-decoration: none;
    color: #fff;
    font-weight: bolder;
    font-size: 20px;
}

.burger-menu {
    display: block;
    position: relative;
    float: right;
}

.burger-icon {
    display: block;
    width: 35px; /* Increased width */
    height: 30px; /* Increased height */
    cursor: pointer;
    position: relative;
}

.burger-icon span {
    display: block;
    width: 100%;
    height: 4px; /* Increased height */
    background-color: #fff;
    margin-bottom: 6px; /* Increased margin */
    transition: transform 0.3s, background-color 0.3s;
}

.burger-icon span:last-child {
    margin-bottom: 0;
}

#burger-checkbox {
    display: none;
}

#burger-checkbox:checked + .burger-icon span:nth-child(1) {
    transform: translateY(10px) rotate(45deg); /* Adjusted transform */
}

#burger-checkbox:checked + .burger-icon span:nth-child(2) {
    opacity: 0;
}

#burger-checkbox:checked + .burger-icon span:nth-child(3) {
    transform: translateY(-10px) rotate(-45deg); /* Adjusted transform */
}

.burger-links {
    display: none;
    position: absolute;
    top: 50px; /* Adjusted top position */
    right: 0;
    background-color: #343a40;
    padding: 15px; /* Increased padding */
    border: 1px solid #ddd;
    z-index: 1;
    border-radius: 5px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
    width: 200px; /* Increased width */
}

.burger-links li {
    list-style: none;
    margin: 15px 0; /* Increased margin */
}

.burger-links a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s;
}

.burger-links a:hover {
    color: #ccc;
}

#burger-checkbox:checked ~ .burger-links {
    display: block;
}

/* Responsive adjustments */
@media (max-width: 768px) {
    .header-container {
        flex-direction: column;
    }

    .logo {
        width: 100px;
        margin-right: 0;
    }

    .navbar {
        margin-top: 20px;
    }

    .search-form {
        flex-direction: column;
    }

    .search-input {
        width: 100%;
        border-radius: 5px;
    }

    .search-button {
        width: 100%;
        border-radius: 5px;
    }
}