/* Header styling */
.header-container {
    background-color: #343a40;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.8);
}
.logo img {
    width: 80px;
    height: auto;
}
.logo {
    max-width: 5%; /* Set maximum width as a percentage */
    margin-right: 20px;
    height: auto;
}

.navbar {
    flex-grow: 1;
}

.navbar ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar li {
    margin-right: 20px;
    height: fit-content;
}

.navbar a {
    color: #fff;
    text-decoration: none;
    transition: color 0.2s ease;
}

.navbar a:hover {
    color: #ccc;
}

.search-form {
    display: flex;
    align-items: center;
}

.search-input {
    padding: 10px;
    border: none;
    border-radius: 5px 0 0 5px;
    width: 300px;
}

.search-button {
    background-color: #777;
    color: #fff;
    border: none;
    padding: 10px;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
}

.search-button:hover {
    background-color: #666;
}

.logout{
    list-style: none;
    cursor: pointer;
}
.logout a{
    text-decoration: none;
    color: #fff;
    font-weight: bolder;
    font-size: 20px;
}


/* Responsive adjustments */
@media (max-width: 768px) {
    .header-container {
        flex-direction: column;
    }

    .logo {
        width: 100px;
        margin-right: 0;
    }

    .navbar {
        margin-top: 20px;
    }

    .search-form {
        flex-direction: column;
    }

    .search-input {
        width: 100%;
        border-radius: 5px;
    }

    .search-button {
        width: 100%;
        border-radius: 5px;
    }
}