body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
}

.order-list {
    overflow-x: auto;
    padding: 20px;
}

#order-table {
    border-collapse: collapse;
    width: 100%;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

#order-table th, #order-table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

#order-table th {
    background-color: #f0f0f0;
}

.product-image {
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 5px;
}

.status {
    font-weight: bold;
}

.Pending {
    color: orange;
}

.Canceled {
    color: red;
}

.Completed {
    color: green;
}

.btn-cancel, .btn-view, .btn-remove {
    padding: 8px 12px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}


.btn-cancel, .btn-remove{
    background-color: #FF0000;
    color: #fff;
    width: 5.5em;
}

.btn-cancel:hover, .btn-remove:hover {
    background-color: #CC0000;
}

.btn-view {
    background-color: #4CAF50;
    color: #fff;
}

.btn-view:hover {
    background-color: #3e8e41;
}
/* pagi */
.pagination {
    display: flex;
    align-items: center;
    justify-content: center;
}

.pagination a, .pagination span {
    margin: 5px;
    padding: 10px 15px;
    border-radius: 5px;
    text-decoration: none;
    color: #337ab7;
}

.pagination a:hover {
    background-color: #337ab7;
    color: #fff;
}

.active {
    background-color: #337ab7;
    color: #fff !important;
    pointer-events: none;
}

.prev, .next {
    font-weight: bold;
}

.disabled {
    pointer-events: none;
    opacity: 0.5;
}